<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         cacheResult="false"
         colors="true"
         columns="max"
         stopOnFailure="false"
         failOnRisky="true"
         failOnWarning="true">
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
    </php>
    <testsuites>
        <testsuite name="Testy">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>